

/*------------------------------------------------------------------
    page title
-------------------------------------------------------------------*/


.page-table {
    position: relative;
    padding: 0px 0;
    background-color: #FF6D00;
    text-align: center;
    margin: 0px 0 0 0;
}

.page-table .page-table-item {
    float: center;
}

.page-table .page-table-item .present {
    position: relative;
    max-width: 960px;
    margin: auto;
}

.page-table .page-table-item img{
    width: 100%;
    height: auto;
    display: block;
    position: relative;

}




.page-table .blue{
    position: relative;
    padding: 0px 0;
    background-color: #01D8CB;
    text-align: center;
    margin: 0px 0 0 0;
}



.page-table .yellow{
    position: relative;
    padding: 0px 0;
    background-color: #F8DB40;
    text-align: center;
    margin: 0px 0 0 0;
}



.page-table .purple{
    position: relative;
    padding: 0px 0;
    background-color: #3A2F5B;
    text-align: center;
    margin: 0px 0 0 0;
}


.page-table .white{
    position: relative;
    padding: 0px 0;
    background-color: #FFF;
    text-align: center;
    margin: 0px 0 0 0;
}

.page-table .bluegreen{
    position: relative;
    padding: 0px 0;
    background-color: #5fd2a6;
    text-align: center;
    margin: 0px 0 0 0;
}

.page-table .gray{
    position: relative;
    padding: 0px 0;
    background-color: #EAEAEA;
    text-align: center;
    margin: 0px 0 0 0;
}